/* .Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 50px !important;
  background: #fae1e2 !important;
}

.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 50px !important;
  background: #f0f9fa !important;
}

.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
} */

.Toastify__toast-body {
  color: #2b3e51;
  font-size: 14px;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
}

.Toastify__toast > button > svg {
  /* display: none; */
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    /* max-width: 70% !important; */
  }
}
